body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    margin-top: 63px;
    font-size: 80px;
    color: #4BCAFF;
    text-decoration: none;
}

.logo span {
    color: #000000;
}

.header-menu {
    margin-top: 40px;
    background: #35444F;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.header-menu li {
    border-left: 1px solid #FFFFFF;
}

.header-menu-item{
    display: block;
    padding: 24px 40px 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    
}

.header-menu li:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-menu-item:hover {
    background: #222F3A;
}

.main-wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 54px;
}

aside {   
    
    border: 1px solid #000000;
    box-sizing: border-box;
}

.aside-menu {
    width: 344px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.aside-menu-item {
    display: block;
    padding: 26px 94px 26px 44px;  
    font-size: 27px;
    color: #485863;
    text-decoration: none;
    white-space: nowrap;
}

.aside-menu-item:hover {
    background: #DBDBDB;
    color: #35444F;
}

.aside-menu-item:hover::before{
    content: '';
    padding-left: 28px;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 885px;
    height: 529px;
    border: 1px solid #000000;
}

.main-image img {
    transition: all ease-out 1s;
}

.main-image img:hover {
    transform: scale(120%);
}

main p {
    margin-top: 34px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 50px;
    background: rgba(99, 105, 110, 0.48);
    padding: 8px 24px;
}

.footer-menu {
    display: flex;
}

.footer-menu-item {
    display: block;
    padding: 12px 16px ;
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
    box-sizing: border-box;
}

.footer-menu-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright {
    padding: 12px 16px;
    font-size: 24px;
    color: #010101;
}